* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  overflow-x: hidden;
  padding-bottom: 30px;
}
input:hover,
input:focus,
input:active {
  background: azure;
}
#addFamButton {
  margin: 1rem auto;
  padding: 0.2rem 2rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  cursor: pointer;
  transition: all 0.2s;
}
#addFamButton:hover {
  background-color: red;
  color: white;
  scale: 1.1;
}
#printBtn {
  position: absolute;
  right: 2rem;
  top: 18vh;
  scale: 1.5;
}
.flexReg {
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
}
.dataTableRow:hover {
  background-color: rgb(247, 240, 219);
}
.cellFlex {
  display: flex;
  justify-content: space-evenly;
  border: none;
  height: 100%;
  align-items: center;
}
.cellFlex svg {
  cursor: pointer;
}
.cellFlex svg:hover {
  color: red;
  scale: 1.2;
}
.tableContainer {
  flex: 3;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
  border: 2px double black;
  background-color: grey;
}
.databaseTable {
  background-color: white;
  margin-top: 1rem;
  height: 100%;
  width: 100%;
}
.databaseTable, tr, th, td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 2px 15px;
  text-align: left;
}
.databaseTable .tableCell {
  padding: 0;
}
.databaseTable .tableCell tr,
.databaseTable .tableCell td {
  border: 0;
}
tr {
  max-height: 2rem;
}
th {
  min-width: 50px;
}
.databaseTable>tbody>tr>td:first-of-type,
.databaseTable>thead>tr>th:first-of-type,
.databaseTable>thead>tr>th:last-of-type {
  text-align: center;
}
table table {
  border-collapse: collapse;
  width: 100%;
}
.hidden {
  display: none !important;
}

section {
  padding: 20px;
}
.display {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
footer {
  width: 100%;
  margin: 10vh 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 1rem;
}
footer .adminWarn {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 1rem;
  transition: all 0.2s;
  padding: 1rem;
}
footer .adminWarn:hover {
  background-color: red;
  color: white;
}
footer h3,
#dangerToggle {
  flex: 100%;
  margin: 0;
}
