.halfPage {
    position: relative;
    width: 100vw;
    height: 50vh;
    display: grid;
    place-items: center;
    border-bottom: 1px dotted black;
}
.halfPageNumber {
    scale: 16;
    font-weight: 800;
}
.cornerLogo {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    width: 50px;
    height: 60px;
    transform: translateX(-50%);
    background: center / cover url('logo.png') no-repeat;
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari 6 – 15.3, Edge */
    color-adjust: exact !important;                 /* Firefox 48 – 96 */
    print-color-adjust: exact !important; 
}
