#pageHeader {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    border-bottom: 4px double red;
    padding: 1rem;
    text-align: right;
}

@media screen and (max-width: 420px) {
    #pageHeader{
        padding-top: 60px;
    }
}